@media (max-width: 1200px){

}
@media (max-width: 1024px){

}
@media (max-width: 980px){
  .navbar-toggle {
    float: right;
    height: 54px;
    padding:15px;
    margin: 0;
    background: none !important;
    margin-bottom: -19px;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
  {
    background-color: black;
    color: black;
  }
  .navbar-default .navbar-toggle
  {
    border: none;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: black;

  }
  .log
  {
    text-align: center ;
  }
  .navbar-default .navbar-nav > li > a
  {
    top:0;
  }
  .box input, .box input:hover, .box input:focus
  {
  border-width: 0px;
  }

  .contact
  {
    display: block;
    text-align: center;
  }

  .items button
  {
font-size: 14px;
padding: 10px;
margin: 5px;
  }
  .sign a i {
      color: #09a241;
      font-size: 22px;
      padding: 13px 13px 0;
}
.newsletter
{
  margin: 10px 0;
}

}
@media (max-width: 800px){

}
@media (max-width: 768px){
  .box
  {
    display: block;
  }

.slider .owl-carousel#sync1 .owl-prev
{
  display: none !important;
}
.slider .owl-carousel#sync1 .owl-next
{
  display: none !important;
}
.slider .owl-carousel#sync1 img
{
  height: auto;
}
.offers h1
{
  width: 40%;
}
.best h1
{
  width: 45%;
}
.top-footer img
{
margin: auto;
}

footer
{
  text-align: center;
}
}
@media (max-width: 480px){

}
@media (max-width: 360px){


}
@media (max-width: 320px){

}

.navside {
    z-index: 999999;
}
