i.fa.fa-bars
{
  float: left;
}
.box input, .box input:hover, .box input:focus
{
  border-width: 0px 1px 0px 0px;
}
.slider .owl-carousel#sync2 .owl-prev{
    left: 0;
    right: auto;
}
.slider .owl-carousel#sync2 .owl-next{
    left: 30px;
    right: auto;
}
  .slider .owl-carousel#sync3 .owl-next {

    left: 30px;
    right: auto;
}
.slider .owl-carousel#sync3 .owl-prev {

  left: 0;
  right: auto;
  }
  .bootstrap-select.btn-group .dropdown-toggle .filter-option{
    text-align: right;
  }
  .bootstrap-select.btn-group .dropdown-toggle .caret{
    right: auto;
    left: 12px;
  }

  .wish {
      padding: 0 59px;
  }
  .cook
  {
    margin: 34px 0;
  }
  .box input {
      padding: 12px 30px;
    }
