@font-face{

  font-family: 's360r';
  src:url('fonts/PFDINTEXTARABIC-REGULAR.ttf');
}

@font-face{

  font-family: 's360b';
  src:url('fonts/PFDinTextArabic-Bold.ttf');
}
@font-face{

  font-family: 's360t';
  src:url('fonts/ROBOTO-LIGHT.TTF');
}
.list-inline,.list-unstyled,p{
  margin: 0px;
}

a, .btn {
  text-decoration: none !important;
  outline: none !important;
  color: #0065a4;
}
a:hover {
  color: #000;
}
body{
  font-family: 's360r';
  color: #1a1c1d;
}
h1, h2, h3, h4, h6, h5, b, strong {
  font-family: 's360b';
  font-weight: 300;
}
body{
  text-transform: capitalize;

}
.navbar-toggle
{
  float: left;
}
.navbar-default {
  background-color: white;
  border: none;
}

.navbar-default .navbar-nav > li > a
{

  font-size: 16px;
  text-transform: uppercase;
  color: #989898;
  text-transform: uppercase;
  top:121.569px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus
{

  color:#e87528;
  background-color: white;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
{
  color:#e87528;
}
.navbar-nav
{
  float:right;

}
.logo
{
  float: left;
  padding: 40px 0;

}
.categories li
{
  background-color: #e6e6e6;
  margin: 4px;
  padding: 15px;
}

.categories li a,
.categories li a:hover,
.categories li a:focus
{
  color: #616161;
  font-size: 16px;

}

li.active a,
li.active a:hover,
li.active a:focus
{
  text-transform: uppercase;
  background-color: #e87528;
  color: white;
}
.categories li.active
{
  background-color: #e87528;
}
i.fa.fa-bars {
  float: right
}
button.btn.dropdown-toggle.btn-default {
  border: none;
  background-color: white;
  box-shadow: none;
}
button.btn.dropdown-toggle.btn-default:focus
{
  outline: none !important;

}
.box
{
  display: flex;
  border: 1px solid #e6e6e6;
  padding: 1px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
{
  width: 100%
}
.box input
{
  padding:12px 20px;
  width: 100%;
}
.box input,
.box input:hover,
.box input:focus
{
  outline: none !important;
  border-width: 0px 0px 0px 1px;
  border-color:  #e6e6e6;
  font-size: 16px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option
{
  padding: 8px;
  font-size: 16px
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option,
.bootstrap-select.btn-group .dropdown-toggle .filter-option:focus,
.bootstrap-select.btn-group .dropdown-toggle .filter-option:hover,
.bootstrap-select.btn-group .dropdown-toggle .caret,
.bootstrap-select.btn-group .dropdown-toggle .caret:focus,
.bootstrap-select.btn-group .dropdown-toggle .caret:hover
{
  color: #6c6c6c;
}

.contact
{
  display: flex;

}
.sign a,
.sign a:hover,
.sign a:focus
{
  color: #616161;
  font-size: 16px;
}

.sign a i
{
  color: #09a241;
  font-size: 22px;
  padding: 13px 0;
}
.wish
{
  padding: 0 42px;
}
.wish a,
.wish a:hover,
.wish a:focus
{
  color: #616161;
  font-size: 16px;
}
.wish a i
{
  color:#e82828;
  font-size: 22px;
  padding: 13px 0;

}

.items button
{
  background-color: #e87528;
  color: white;
  outline: none !important;
  box-shadow: none;
  border: none;
  font-size: 16px;
  padding:14px 30px ;
}
.items button i
{
  padding: 0px 6px;
  font-size: 19px;
}

.slider
{
  margin-top: 30px;

}
.slider img
{
  position: relative;
}
.owl-prev , .owl-next
{
  position: absolute;
  top:0px;
  color: #d1d0ce;

}

.owl-carousel {
  direction: ltr;
}
.slider .owl-carousel#sync1 img

{
  display: block;
  width:100%;
}
.slider .owl-carousel#sync1 .owl-prev
{
  font-size: 25px;
  position: absolute;
  top: 44%;
  left: 50px;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
.slider .owl-carousel#sync1 .owl-next
{
  font-size: 25px;
  position: absolute;
  top: 45%;
  right: -5%;
  transform: translateX(-50%);
  width: 51px;
  height: 40px;
  line-height: 32px;
  text-align: center;
  border-radius: 7%;
}
.slider .owl-carousel#sync1 .owl-next:hover,
.slider .owl-carousel#sync1 .owl-next:focus,
.slider .owl-carousel#sync1 .owl-prev:hover,
.slider .owl-carousel#sync1 .owl-prev:focus
{
  color: white;
  background-color: #e87528;
}

.slider .owl-carousel#sync1 .owl-next, .slider .owl-carousel#sync1 .owl-prev {
  background-color: white;
  color: #8b8b8b;
}


.slider .owl-carousel#sync1 .owl-prev {
  font-size: 25px;
  position: absolute;
  top: 45%;
  left: 20px;
  transform: translateX(-50%);
  width: 51px;
  height: 40px;
  line-height: 32px;
  text-align: center;
  border-radius: 7%;
}
.slider button {
  position: absolute;
  right: 8%;
  top: 70%;
  color: #ffff;
  background-color: #09a241;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
}
.slider button:hover
{
  color: white;

}
.slider .owl-carousel#sync1 img
{
  height: 450px;
}
.owl-dots
{
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.owl-theme .owl-dots .owl-dot span

{

  background-color: white;

}
.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot.active span
{
  background-color:#e87528;

}
.deal img
{
  margin: 30px auto;
  height: 100%;
}
.best
{
  margin-top: 75px;
}
.best h1
{
  background-color: #e87528;
  color: white;
  width: 21%;
  font-size: 16px;
  padding:14px 30px ;
  text-transform: uppercase;
}
hr {
  margin-top: -10px;
  border: 0;
  border-top: 1px solid #e87528;
}
.slider .owl-carousel#sync2 .owl-prev
{
  font-size: 20px;
  position: absolute;
  top:-27%;
  right: 30px;
  transform: translateX(-50%);
}
.slider .owl-carousel#sync2 .owl-next
{
  font-size: 20px;
  position: absolute;
  top: -27%;
  right: 0px;
  transform: translateX(-50%);

}
.slider .owl-carousel#sync2 .owl-next i{
  width: 33px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  color: #6c6c6c;
}


.slider .owl-carousel#sync2 .owl-prev i{
  width: 33px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  color: #6c6c6c;
}

.slider .owl-carousel#sync2 .owl-next i:hover,
.slider .owl-carousel#sync2 .owl-prev i:hover,
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover
{
  background-color: white;
  color: #e87528;

}
.owl-theme .owl-controls .owl-nav [class*=owl-]
{
  background: none;
}

.new
{
  border: 1px solid #dfdfdf ;
  text-align: center;
  margin: 10px;
  padding: 15px;
}

.new img
{
  padding: 10px 40px;
  height: 150px;
}
.new p
{
  color: #6c6c6c ;
  font-size: 18px;

}
.new span
{
  color: #e87528;
  font-size:18px;
  font-weight: bold;
}
.icons i
{
  color: #616161;
  font-size: 22px;
  padding: 10px;
}
.icons i.fa.fa-shopping-cart:hover
{
  color: #e87528;
}
.icons i.fa.fa-eye:hover
{
  color: #09a241;
}
#sync2 .owl-dots,
#sync3 .owl-dots
{
  display:none !important;
}
.banner {
  margin: 50px 0
}
.offers h1
{
  background-color: #e87528;
  color: white;
  width: 21%;
  font-size: 16px;
  padding:14px 30px ;
  text-transform: uppercase;
}
.offers {
  margin: 50px 0;
}
.cook
{
  margin: 30px 0;
  text-align: -webkit-center;
}
.sell{
  margin-top: 30px;
}
.sell h1
{
  background-color: #e87528;
  color: white;
  width: 55%;
  font-size: 16px;
  padding:14px ;
  text-transform: uppercase;
}
.slider .owl-carousel#sync3 .owl-next {
  font-size: 22px;
  position: absolute;
  top: -27%;
  right: -35px;
  transform: translateX(-50%);
}
.slider .owl-carousel#sync3 .owl-prev {
  font-size: 22px;
  position: absolute;
  top: -27%;
  right: 0px;
  transform: translateX(-50%);
}
.slider .owl-carousel#sync3 .owl-next i{
  width: 33px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  color: #6c6c6c;
}

.slider .owl-carousel#sync3 .owl-prev i{
  width: 33px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  color: #6c6c6c;
}
.slider .owl-carousel#sync3 .new
{
  margin:0 0 10px ;

}
.newsletter
{
  background-color: #533567;
  color: white;
  padding: 30px 40px 64px;
}
.newsletter span
{
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}
.newsletter p
{
  font-size: 15px;
  margin: 15px 0;
  font-weight: bold;
}
.form-control
{
  border-radius: 0px;

}
.form-control:focus
{
  outline: none !important;
  box-shadow: none;
  border-color: white;
}
.newsletter button
{
  background-color: #e87528;
  color: white;
  border-radius: 0px;
  padding: 10px;
  float: right;
  margin: 3px 0;
}
.newsletter button:hover,
.newsletter button:focus
{
  color: white;
}
.delivery img
{
  margin-bottom: 10px;
  width: 100%;
}

footer .copyright a:hover

{
  color: white;
}
footer .copyright a
{
  text-decoration: none;
}
footer
{

  padding: 50px 0 0;
}
footer h3
{
  color: #515151;
  font-size: 16px;
  padding-bottom: 25px;
  font-weight: lighter;
}
footer ul
{
  min-height: 126px;
}
.top-footer a
{
  color: #616161;
  font-size: 14px;
  text-decoration: none;
  line-height: 30px;
}
.top-footer a:hover
{
  color:#f0a370;
}
.copyright
{
  text-align: center;
  margin: 30px;
  color:#616161;
  font-size: 16px;
}
.rights a,
.rights a:hover,
.rights a:focus
{
  color: #e87528;

}
.developed a,
.developed a:hover,
.developed a:focus
{
  color:#616161;
}
